<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="1">
    <caption>Таблица машин:</caption>

    <thead>
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getId()}">ID</td>
        <td th:text="${car.getModel()}">Model</td>
        <td th:text="${car.getColor()}">Color</td>
    </tr>
    </tbody>
</table>
</body>
</html>